$font-stack-sans: Helvetica, sans-serif;
$font-stack-serif: athelas, georgia, serif;
// $fontColor: rgb(0, 0, 0);
$fontColor: rgb(221, 243, 229);

$text_color: rgb(231, 230, 216);
$light_text_color: rgba(231, 230, 216, 0.822);

$text_bg_color: rgb(44, 46, 51);

$text_bg_hover_color: rgb(39, 40, 44);
$text_bg_selected_color: rgba(121, 121, 121, 0.5);

$hovermenu_bg_color: rgb(44, 46, 51);
$hovermenu_bg_hover_color: rgb(51, 53, 58);

$accent_very_dark2:rgb(8, 63, 42)5;
$accent_very_dark: #126445;
$accent_dark: #2cc288;
$accent_light: #48f3b1;

$border_color: #1e1f22;

$dark_bg: #212225;
$medium_dark_bg: #272b30;
$medium_dark_bg_transparency: #26272b75;