@use '_attachments' as attachments;
@use '_theme' as theme;
@use '_content_warning' as cw;

@mixin timeline {
    @include user-topper;
    @include attachments.attachments;

    .post-body {
        overflow: auto;
        white-space: pre-wrap;
    }

    .invisible {
        display: none;
    }
    
    .timeline-pfp {
        width: 3em;
    }
    .reblog-pfp {
        width: 1.8em;
        border-radius: 100%;
        // margin-right: 0.5em;
        margin-bottom: -0.2em;
    }
    .reblog {
        margin-bottom: 0.2em;
    }
    .boost-text {
        margin-left: 0.5em;
    }
    .post-body {
        margin-top: 1em;
        margin-bottom: 1em;
        p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }
}

@mixin user-topper {
    .user-link {
        gap: 15px;
        align-items: center;
        text-wrap: nowrap;
    }

    .user-link-text {
        max-width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
    }

    .pronouns {
        margin-left: 1em;

        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 30%;
    }
}