@use '_attachments' as attachments;
@use '_theme' as theme;
@use '_content_warning' as cw;

@mixin timeline {
    @include user-topper;
    @include attachments.attachments;

    .post-body {
        overflow: auto;
        white-space: pre-wrap;
    }

    .invisible {
        display: none;
    }
    
    .timeline-pfp {
        width: 3em;
    }
}

@mixin user-topper {
    .user-link {
        gap: 15px;
        align-items: center;
    }

    .pronouns {
        margin-left: 1em;
    }
}