@use '_theme' as theme;
@use '_timeline' as timeline;
@use '_profile' as profile;
@use '_markdown' as markdown;

html {
    background-color: theme.$dark_bg;
}

body {
    font: 100% theme.$font-stack-sans;
    color: theme.$fontColor;
}

main {
    max-width: 700px;
    background-color: theme.$medium_dark_bg;
    padding: 0%;
    margin: 8px;
    @include markdown.markdown;
    @include profile.profile-header;
}

.timeline {
    @include timeline.timeline;
    padding: 10px;
    // max-width: 800px;
    // background-color: theme.$medium_dark_bg;
    // padding: 10px;
}

.profile {
    @include profile.profile;
    padding: 10px;
    padding-bottom: 0%;
}

.pfp {
    border-radius: 8px;
    overflow: hidden;
    // aspect-ratio: 1/1;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.no-decoration {
    text-decoration: none;
    color: theme.$fontColor;
    * {
        text-decoration: none;
    }
}

.no-margin {
    margin: 0%;
}
.no-margin-recursive {
    margin: 0%;
    * {
        margin: 0%;
    }
}

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.status-actions {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    // justify-content: center;
    justify-content: space-between;
    align-items: center;
    // gap: 2px;
}

$emoji_size: 1.5rem;
.emoji {
    margin-bottom: -0.3rem;
    height: $emoji_size;
    width: $emoji_size;
    max-height: $emoji_size;
    max-width: $emoji_size;
    object-fit: contain;
}

*, *::before, *::after { box-sizing: border-box; }

.item-src {
    display: none;
}
body {
    margin: 0%;
    // overflow-x: scroll;
    // max-height: 100vh;
    // overflow-x: scroll;
    // overflow-y: scroll;
    // max-height: 100vh;
}
.body-container {
    
    margin: 0%;
}
// main {
//     display: flex;
//     overflow-x: scroll;
//     max-height: 100vh;
// }