@charset "UTF-8";
html {
  background-color: #212225;
}

body {
  font: 100% Helvetica, sans-serif;
  color: rgb(221, 243, 229);
}

main {
  max-width: 700px;
  background-color: #272b30;
  padding: 0%;
}
main details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
main summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
main details[open] {
  padding: 0.5em;
}
main details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
main a {
  color: #2cc288;
}
main a:hover {
  color: #48f3b1;
}
main pre {
  overflow: auto;
  white-space: pre-wrap;
  background-color: #212224;
  border-radius: 8px;
  border-style: solid;
  border-color: #126445;
  border-width: 2px;
  padding: 0.5em;
  counter-reset: line;
}
main pre span {
  display: block;
  line-height: 1.5rem;
}
main pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  max-width: 4em;
  width: 3em;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
}
main blockquote {
  margin-left: 1em;
}
main blockquote * {
  margin-left: 0%;
  margin-right: 0%;
  border-left: 4px solid #2cc288;
  padding: 0.5em;
}
main .profile-header {
  width: 100%;
  max-width: 100%;
  max-height: 350px;
  overflow: hidden;
  margin-bottom: -4em;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeline {
  padding: 10px;
}
.timeline .user-link {
  gap: 15px;
  align-items: center;
}
.timeline .pronouns {
  margin-left: 1em;
}
.timeline .attachment-img {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0%;
}
.timeline .attachment-container {
  padding: 0%;
  width: 100%;
  border-radius: 8px;
  border-style: solid;
  border-color: #126445;
  background-color: rgb(8, 63, 42) 5;
  border-width: 2px;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 800px;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
.timeline .multiple-attachment {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
}
.timeline .multiple-attachment .w75 {
  width: 75%;
  max-width: 75%;
}
.timeline .multiple-attachment .w50 {
  width: 50%;
  max-width: 50%;
}
.timeline .multiple-attachment .w25 {
  width: 25%;
  max-width: 25%;
}
.timeline .multiple-attachment .h50 .attachment {
  max-height: 50%;
  height: 50%;
}
.timeline .multiple-attachment .h100 .attachment {
  max-height: 100%;
  height: 100%;
}
.timeline .attachment {
  -o-object-fit: cover;
     object-fit: cover;
}
.timeline .multiple-attachment .secondary {
  gap: 4px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.timeline .post-body {
  overflow: auto;
  white-space: pre-wrap;
}
.timeline .invisible {
  display: none;
}
.timeline .timeline-pfp {
  width: 3em;
}
.timeline .reblog-pfp {
  width: 1.8em;
  border-radius: 100%;
  margin-bottom: -0.2em;
}
.timeline .reblog {
  margin-bottom: 0.2em;
}
.timeline .boost-text {
  margin-left: 0.5em;
}
.timeline .post-body {
  margin-top: 1em;
  margin-bottom: 1em;
}
.timeline .post-body p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.profile {
  padding: 10px;
  padding-bottom: 0%;
}
.profile .invisible {
  display: none;
}
.profile .verified {
  background-color: #1e2e28;
  color: #48f3b1;
}
.profile .verified dd::before {
  content: "✅ ";
}
.profile dt {
  font-size: 0.9em;
}
.profile dd {
  margin-left: 0%;
}
.profile .field-description {
  padding: 0.8em;
  border-color: #126445;
  border-width: 1px;
}
.profile dl {
  background-color: #212224;
  border-radius: 8px;
  border-style: solid;
  border-color: #126445;
  border-width: 2px;
  overflow: hidden;
  margin: 0%;
}
.profile .profile-pfp {
  width: 8em;
  outline: 6px solid #272b30;
  background-color: #272b30;
}

.pfp {
  border-radius: 8px;
  overflow: hidden;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.no-decoration {
  text-decoration: none;
  color: rgb(221, 243, 229);
}
.no-decoration * {
  text-decoration: none;
}

.no-margin {
  margin: 0%;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.status-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.emoji {
  margin-bottom: -0.2em;
  height: 1.2em;
  width: 1.2em;
  max-height: 1.2em;
  max-width: 1.2em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.item-src {
  display: none;
}/*# sourceMappingURL=styles.css.map */