@use '_theme' as theme;
@use '_timeline' as timeline;
@use '_profile' as profile;

html {
    background-color: theme.$dark_bg;
}

a {
    color: theme.$accent_dark;

    &:hover {
        color: theme.$accent_light;
    }
}

body {
    font: 100% theme.$font-stack-sans;
    color: theme.$fontColor;
}

main {
    max-width: 700px;
    background-color: theme.$medium_dark_bg;
    padding: 10px;
}

.timeline {
    @include timeline.timeline;
    // max-width: 800px;
    // background-color: theme.$medium_dark_bg;
    // padding: 10px;
}

.profile {
    @include profile.profile;
}

.pfp {
    border-radius: 8px;
    overflow: hidden;
    // aspect-ratio: 1/1;
}

.timeline-pfp {
    width: 3em;
}

.profile-pfp {
    width: 8em;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.no-decoration {
    text-decoration: none;
    color: theme.$fontColor;
}

.no-margin {
    margin: 0%;
}

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.status-actions {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    // justify-content: center;
    justify-content: space-between;
    align-items: center;
    // gap: 2px;
}

.emoji {
    margin-bottom: -0.2em;
    height: 1.2em;
    width: 1.2em;
    max-height: 1.2em;
    max-width: 1.2em;
}

*, *::before, *::after { box-sizing: border-box; }